@import "../bower_components/materialize/sass/materialize";
$proxima-nova-soft: "proxima-nova-soft";
$revel-blue: #00a3e0;
$revel-night: #373B40;
$revel-night-t: rgba(55, 59, 64, .7);
$revel-blue-t: rgba(0, 163, 224, 0.3);
$photo-filter-light: rgba(235,235,235,.1);
$photo-filter-mid: rgba(153,153,153,.1);

*{
	font-family: $proxima-nova-soft;
}
.header {
	height: 7vh;
	background-color: $revel-night-t;
	width: 100%;
	padding: 20px 30px;
	.revel-logo {
		max-width: 90%;
	}
	@media screen and (max-width: 992){
		height: 9vh;
	}
}

.main-cta-and-form {
	background-image: url("/img/newTriPattern.png");
	background-repeat: no-repeat;
	height: 95vh;
	background-size: cover;
	padding: 20px 30px;
	min-height: 450px;
	text-align: left;
	position: relative;
	overflow: hidden;
	#section{

		@media screen and (max-width: 992){
			width: 100%;
			margin-top: 10%;
		}
	}
	.val-prop{
		margin: 10% 0px 30% 30px;
		// max-width: 80%;
		@media screen and (max-width: 992){
			height: 100%;
			max-width: 100%;
			padding: 20px 0;
			text-align: center;
			padding: 5%;
		}
		h1 {
			margin: 0px auto;
			color: $revel-blue;
			font-size: 30px;
			font-weight: 500;
			max-width: 100%;
		}
		p{
			text-align: left;
			line-height: 1.4em;
			font-size: 1.22em;
			font-weight: 300;
			color: $revel-night;
		}
		.btn-basic-cta{
			margin: 10px auto;
			max-width: 100%;
			padding: 10px 60px;
			border-radius: 6px;
			color: $revel-blue;
			background-color: #ebebeb;
			border: $revel-blue 1px solid;
			&:hover{
				background-color: $revel-blue;
				border-radius: 6px;
				color: #ebebeb;
				transition: .8s;
			}

		}
	}
	.ipads{
		margin: auto;
		img.img-ipad{
			max-width: 100%;
			text-align: center;
			width: 40vh;
			margin: -20px 40px 40px;
			@media screen and (max-width: 992){
				margin: auto;
				max-width: 80%;
				margin: auto;
				text-align: center;
			}
		}
		@media screen and (max-width: 992){
			margin: auto;
			height: 100%;
			text-align: center;
			max-width: 100%;
		}
	}
	@media screen and (max-width: 992){
		height: 86vh;
		background-position: 30%;
		margin: 20px auto;
	}
}

footer {
	height: 5vh;
	text-align: center;
	color: white;
	background-color: $revel-night;
	padding: 5px;
	font-size: .8em;

}
#heroForm{
	.btn-basic{
    color: $revel-blue;
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    text-align: center;
    border: 1px solid $revel-blue;
    background-color: #EBEBEB;
    text-transform: uppercase;
    border-radius: 6px;
    width: 50%;
    &:hover{
      background-color: $revel-blue;
      color: #ebebeb;
      transition: .25s;
    }
  }
	h1{
		color: $revel-blue;
		text-align: center;
		font-size: 2.5em;
	}
	form{
		label[for=Vertical__c]{
			display: none;
		}
		position: relative;
		margin: auto;
		input{
			box-shadow: none;
			display: block;
			height: 40px;
			padding: 10px;
			width: 100%;
			border:1px solid $revel-blue;
			margin: 10px auto;
			border-radius: 6px;
			&.plus{
				height: 70px;
			}
			&.btn-basic{
				width: 100%;
				margin: 5px auto;
			}
			&::-moz-placeholder {
				font-size: 12px;
				max-width: 60px;
				color: $revel-night;
			}
			&::-webkit-placeholder {
				font-size: 12px;
				max-width: 60px;
				color: $revel-night;
			}
		}
		textarea {
			padding: 24px 23px;
			font-size: .9375em;
		}
		select{
			background-color: #ffffff;
			min-width: 100%;
			font-size: 12px;
			border-radius: 10px;
			border: 1px solid #00a3e4;
			height: 40px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			padding: 10px;
			color: $revel-night;
			-webkit-margin-after: -5px;
			-webkit-border-radius: 6px;
			option {
				font-size: 9px;
			}
		}
		span{
			margin: 0;
			min-width: 100%;
			button.btn-basic{
				margin: 0px 0px 10px;
				width: 100%;
			}
		}
	}

}
